<footer class="site-footer">
  <div class="wrapper">
    <h4>Proudly supported by:</h4>
    <div class="logos">
      <a href="http://www.codaisseur.com/?utm_source=tasteofcode.nl" target="_blank">
        <img src="{{ "images/sponsors/codaisseur.png" | prepend: site.baseurl }}" alt="Codaisseur">
      </a>
      <a href="http://tq.co/" target="_blank">
        <img class="tq" src="{{ "images/sponsors/tq.png" | prepend: site.baseurl }}" alt="TQ">
      </a>
      <a href="http://nerderlands.com/" target="_blank">
        <img class="nerderlands" src="{{ "images/sponsors/nerderlands-black.png" | prepend: site.baseurl }}" alt="Nerderlands">
      </a>
      <a href="http://inco.co.com/" target="_blank">
        <img src="{{ "images/sponsors/inco.png" | prepend: site.baseurl }}" alt="Comptoir de l'Innovation de Paris">
      </ target="_blank"a>
      <img src="{{ "images/sponsors/jpmorgan.png" | prepend: site.baseurl }}" alt="J.P. Morgan">
      <a href="http://www.rabobank.com/" target="_blank">
        <img class="rabobank" src="{{ "images/sponsors/rabobank_long.png" | prepend: site.baseurl }}" alt="Rabobank">
      </a>
      <a href="http://www.nos.nl/" target="_blank">
        <img src="{{ "images/sponsors/nos.png" | prepend: site.baseurl }}" alt="NOS">
      </a>
      <a href="http://www.mirabeau.nl/" target="_blank">
        <img src="{{ "images/sponsors/mirabeau.png" | prepend: site.baseurl }}" alt="Mirabeau">
      </a>
      <a href="http://www.tomtom.com/" target="_blank">
        <img src="{{ "images/sponsors/tomtom.png" | prepend: site.baseurl }}" alt="Tomtom">
      </a>
      <a href="https://www.kpn.com/" target="_blank">
        <img src="{{ "images/sponsors/kpn.png" | prepend: site.baseurl }}" alt="KPN">
      </a>
      <a href="https://www.abnamro.nl/" target="_blank">
        <img src="{{ "images/sponsors/abnamro.png" | prepend: sit.baseurl }}" alt="ABN-AMRO">
      </a>
    </div>
  </div>
</footer>

<script language="javascript" src="{{ "js/app.js" | prepend: site.baseurl }}"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
