<footer class="site-footer">
  <div class="wrapper">
    <h4>proudly sponsored by:</h4>
    <div class="logos">
      <a href="http://www.codaisseur.com/?utm_source=tasteofcode.nl">
        <img src="{{ "images/sponsors/codaisseur.png" | prepend: site.baseurl }}" alt="Codaisseur">
      </a>
      <a href="http://www.mirabeau.nl/?utm_source=tasteofcode.nl">
        <img src="{{ "images/sponsors/rockstart.png" | prepend: site.baseurl }}" alt="Mirabeau">
      </a>
      <a href="http://www.lecomptoirdelinnovation.com/">
        <img src="{{ "images/sponsors/comptoir.png" | prepend: site.baseurl }}" alt="Comptoir de l'Innovation de Paris">
      </a>
      <img src="{{ "images/sponsors/jpmorgan.png" | prepend: site.baseurl }}" alt="J.P. Morgan">
    </div>
  </div>
</footer>

<script language="javascript" src="{{ "js/app.js" | prepend: site.baseurl }}"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
