<footer class="site-footer">
  <div class="wrapper">
    <h4>proudly sponsored by:</h4>
    <div class="logos">
      <a href="http://www.codaisseur.com/">
        <img src="{{ "images/sponsors/codaisseur.png" | prepend: site.baseurl }}" alt="Codaisseur">
      </a>
      <a href="http://www.lecomptoirdelinnovation.com/">
        <img src="{{ "images/sponsors/comptoir.png" | prepend: site.baseurl }}" alt="Comptoir de l'Innovation de Paris">
      </a>
      <a href="http://www.tomtom.com/">
        <img src="{{ "images/sponsors/tomtom.png" | prepend: site.baseurl }}" alt="TomTom">
      </a>
      <a href="http://www.xerox.com/">
        <img src="{{ "images/sponsors/xerox.png" | prepend: site.baseurl }}" alt="Xerox">
      </a>
    </div>
  </div>
</footer>

<script language="javascript" src="{{ "js/app.js" | prepend: site.baseurl }}"></script>
<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
