<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">
        <span class="taste">Taste</span>
        <span class="of">&lt;of&gt;</span>
        <span class="code">Code</span>
      </a>
    </h1>
    <p class="site-slogan">
      Free beginner workshop
      <span class="notch one"></span>
      <span class="notch two"></span>
      <span class="notch three"></span>
      <span class="notch four"></span>
      <span class="notch five"></span>
      <span class="notch six"></span>
    </p>
  </div>
</header>
