.content-wrapper
  @extend .col-md-10
  @extend .col-md-offset-1

  .content-column
    @extend .col-md-4
    font-weight: lighter
    padding: 3em
    text-align: center
    line-height: 2em
    letter-spacing: 1px

    &.htmlcss
      @extend .col-md-pull-4

    &.middle
      @extend .col-md-push-4

    img
      @extend .img-responsive
      margin: auto

    h2
      font-weight: lighter
      color: $toc-title-color

  p.social
    margin-top: 1.8em

    img
      height: 30px
      display: inline

.nowrap
  white-space: nowrap
